.hero-image {
  background-image: url('https://source.unsplash.com/random/630x420/?coffee,brewing');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 28vh;
  margin-bottom: 50px;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #0000009a;
  padding: 30px;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="number"],
select {
  width: 100%;
  border: 1px solid #CED4DA;
  border-radius: 3px;
  padding: 5px;
}

select {
  height: 38px;
  background-color: #fff;
}

button[type="submit"] {
  background-color: #834f1e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.recipe-description {
  font-size: 0.85rem;
  color: #666;
  margin-top: 4px;
  min-height: 1.2em;
}

.results {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.results h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.results li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.formula-info {
  font-size: smaller;
  color: black;
  padding: 40px 0;
}
